[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/font8x8"]
	path = third_party/font8x8
	url = https://github.com/dhepper/font8x8.git
[submodule "third_party/graaf"]
	path = third_party/graaf
	url = https://github.com/bobluppes/graaf.git
